<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

    <div class="materialContainer">


 

        <div class="box">

             
<div class="title"><img src="assets/imgs/icon.png"></div>



                        <form (ngSubmit)="login()" [formGroup]="loginForm">
               
                <ion-grid>      
                <ion-row>
        <ion-col col-3>
            <ion-input type="tel" value="+256" readonly> </ion-input>
        </ion-col>
        <ion-col col-9>
            <ion-input type="tel" placeholder="Mobile Number" maxlength="9" formControlName="mobilenumber" #mobilenumber></ion-input>
        </ion-col>
      </ion-row></ion-grid>
                <ion-input placeholder="Password" type="password" class="password" formControlName="password" #password></ion-input>
 <ion-input placeholder="" type="hidden" class="hiddenfield" value="kobs" formControlName="clubid" #clubid></ion-input>
                <div class="button login">
                    <button type="submit"><span>GO</span> <i class="fa fa-check"></i></button>
                </div>


            </form>



            <div>
                <a (click)="showForgotPassword()" class="pass-forgot _tuppercase">FORGOT YOUR PASSWORD?</a>

                <span class="pass-forgot">OR</span>

                <a (click)="showregisterUser()" class="pass-forgot _tuppercase crt">CREATE NEW ACCOUNT </a>
            </div>



        </div>

        <!-- <div class="overbox">
            <div class="material-button alt-2"><span class="shape"></span></div>

            <div class="title">REGISTER</div>

            <div class="input">
                <label for="regname">Username</label>
                <input type="text" name="regname" id="regname">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="regpass">Password</label>
                <input type="password" name="regpass" id="regpass">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="reregpass">Repeat Password</label>
                <input type="password" name="reregpass" id="reregpass">
                <span class="spin"></span>
            </div>

            <div class="button">
                <button><span>NEXT</span></button>
            </div>


        </div> -->

    </div>

</ion-content>