<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Kobs Rugby Club</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>

 <div class="headerimg"> <img src="assets/imgs/bannertop.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">Gallery
</div>
</div>

</div>
 </div>

   
    <div *ngIf="!isLoading">
<div style="background-color: white ; height: 100%" >
<div *ngIf="gallery && gallery.length" class="myCarousel clubslides">

<div *ngFor="let item1 of gallery">
   <div> <img src="{{item1.node.field_featured_gallery.src}}">
  </div>
</div> 

</div>
</div>
    </div>
     
</ion-content>