<ion-tabs color="primary">
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="News" tabIcon="paper"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Score" tabIcon="american-football"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Register" tabIcon="contacts"></ion-tab>
</ion-tabs>