<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Kobs Rugby Club</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>

 <div class="headerimg"> <img src="assets/imgs/bannertop.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">Team
</div>
</div>

</div>
 </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!isLoading">
        <ion-list>

<ion-grid>
<ion-row>
<ion-col col-6 text-wrap *ngFor="let item of team" class="animated  fadeInLeft delay-1s">
  <img src="{{item.node.teamphoto.src}}">
  <p class="mrprt">{{item.node.field_title_held}}</p>
  <h2 [innerHTML]="item.node.title"></h2>
</ion-col>
</ion-row>
</ion-grid>
        </ion-list>
    </div>
     
</ion-content>