<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Reset Password</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="materialContainer">




        <div class="box">

<div class="title"><img src="assets/imgs/icon.png"></div>

           <form (ngSubmit)="resetPassword()" [formGroup]="forgotPasswordForm">
                 <ion-grid>      
                <ion-row>
        <ion-col col-3>
            <ion-input type="tel" value="+256" readonly> </ion-input>
        </ion-col>
        <ion-col col-9>
            <ion-input type="tel" placeholder="Mobile Number" maxlength="9" formControlName="mobilenumber" #mobilenumber></ion-input>
        </ion-col>
      </ion-row></ion-grid>
                <ion-input placeholder="New Password" type="password" class="password" formControlName="password" #password></ion-input>
                <ion-input placeholder="" type="hidden" class="hiddenfield" value="kobs" formControlName="clubid" #clubid></ion-input>
                <div class="button login">
                    <button type="submit"><span>RESET</span> <i class="fa fa-check"></i></button>
                </div>


            </form>



            <div>


            </div>



        </div>


    </div>
</ion-content>