<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Kobs Rugby Club</ion-title>
    </ion-navbar>
</ion-header>

<ion-content  class="outer-content">
<div *ngIf="!this.isLoading">
     

  <!--<h2 class="text-color-black headhome">LATEST <strong>NEWS</strong></h2>-->
 
 <div class="newslist">
            <div text-wrap  *ngFor="let item of news"  (click)="openPage(item)" class="animated fadeInDownBig delay-1s">
                
<div class="bt_bb_latest_posts_item"><div class="bt_bb_latest_posts_item_image">
<img  src="{{item.node.field_featured_image.src}}" >
<span class="bt_bb_latest_posts_item_date"><span class="btDay"><span [innerHTML]="item.node.created"></span></span></span></div>
<div class="bt_bb_latest_posts_item_content"><div class="bt_bb_latest_posts_item_category" [innerHTML]="item.node.cat">>News</div>
<h5 class="bt_bb_latest_posts_item_title" [innerHTML]="item.node.title"></h5></div></div>
            </div>
</div> 
 


<h2 class="headerfirst">GAME <br>
<strong>SCHEDULE</strong></h2>
<div class="latestmatch">





<div class="bt_bb_game_result_supertitle">
<span [innerHTML]="latestdate"></span></div>
<ion-grid>
    <ion-row>
<ion-col size="50" class="bordercss">
<ion-row class="clubleft">
<ion-col size="50" >
   <div class="bt_bb_game_result_crest"><img src="{{lhomeImg}}">
</div>
</ion-col>
<ion-col size="50" class="resultleft">
   <span [innerHTML]="lhomeresult"></span>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleleft" [innerHTML]="lhomeClub"></div>
</ion-col>
<ion-col size="50">
<ion-row class="clubright">
<ion-col size="50" class="resultright">
    <span [innerHTML]="lawayresult"></span>
</ion-col>
<ion-col size="50">
    <div class="bt_bb_game_result_crest"><img src="{{lawayImg}}"></div>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleright" [innerHTML]="lawayClub"> </div>
</ion-col>
</ion-row>
</ion-grid>


</div>


<h2 class="headerfirst">
<strong>HIGHLIGHTS</strong></h2>
<div class="highlights">

        <div  *ngFor="let item of video">
             
               <!-- Sharing Icons -->

               <iframe height="315" width="100%" [src]="item.node.Video | youtube"></iframe>


               <p class="vtitle1" [innerHTML]="item.node.field_on"></p>

               <p class="vtitle" [innerHTML]="item.node.title"></p>


   
        </div>
</div>






</div>



</ion-content>