<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Kobs Rugby Club</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>

 <div class="headerimg"> <img src="assets/imgs/bannertop.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">News
</div>
</div>

</div>
 </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!isLoading">
        <ion-list>
            <ion-item text-wrap *ngFor="let item of news" (click)="openPage(item)" class="animated  fadeIn delay-1s" >
               <ion-avatar item-start>
                <img src="{{item.node.field_featured_image.src}}">
            </ion-avatar>
                <p class="mrprt" [innerHTML]="item.node.cat"></p>
                <h2 [innerHTML]="item.node.title"></h2>
                <p [innerHTML]="item.node.created"></p>
            </ion-item>
        </ion-list>
    </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" class="text-color-white">
     <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
     </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>