page-news {
.content-md{background:#fff !important;
    }
.content-ios{background:#fff !important;
    }
.item-md{background: #f7f7f7;
padding:  0 10px !important;
margin: 20px 0; }
.item-ios{background: #f7f7f7;
padding: 0 10px !important;
margin: 20px 0;}
.item-md{color:#333;}
.item-ios{color:#333;}
.item-md p {
    margin: 8px 0 8px;
    overflow: inherit;
    font-size: 0.7em; color:#333;}
.item-ios p {
    margin: 8px 0 8px;
    overflow: inherit;
    font-size: 0.7em; color:#333;}
  h2 {
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
line-height: 1em;
max-height: 3.4em;
font-weight: bold !important;
text-transform: uppercase;
padding: 0;
color: #000;
font-size: 0.8em !important;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img{border-radius: 0 !important;
  overflow: hidden;
  width: 60px;
  height: 60px;}
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img{border-radius: 0 !important;
    overflow: hidden;
    width: 60px;
    height: 60px;}
.label-md{margin:  2px 8px 2px 0}
.label-ios{margin:  2px 8px 2px 0}
.captiontop{position: absolute;
    bottom: 3px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);}
    .headerimg{position: relative;}
    .titlecss{position: absolute; bottom: 20%; color: #fff; font-weight: bold;
font-size: 30px;
padding-left: 10px;}
.mrprt{text-tranform:uppercase;}
.item-md ion-avatar ion-img, .item-md ion-avatar img{border-radius: 0 !important;
  overflow: hidden;
  width: 60px;
  height: 60px;}
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img{border-radius: 0 !important;
    overflow: hidden;
    width: 60px;
    height: 60px;}

    
}
