<ion-header>

    <ion-navbar>
        <ion-title>Betway Kobs Rugby Club</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="animated  fadeIn delay-1s">
<ion-card-content>
                <ion-card-title>
                    {{newsTitle}}
                </ion-card-title>
                <span class="created" [innerHTML]="newsCreated">
                </span> 
                <!-- Sharing Icons -->
</ion-card-content>
     <img src="{{newsImg}}">
    <ion-card >
        <!--<img src="{{newsImg}}">-->
        <ion-card-content>
            
            <p [innerHTML]="newsBody">
            </p>

            <!-- Sharing Icons -->
     
        </ion-card-content>
    </ion-card>
</ion-content>