
<ion-content padding>

    <div class="materialContainer">


 

        <div class="box">

             
<div class="title"><img src="{{LogoImg}}"></div>



                        <form (ngSubmit)="verify()" [formGroup]="VerifyCodeForm">
               

                <ion-input placeholder="code" type="text" class="code" formControlName="code" #code></ion-input>
                <div class="button login">
                    <button type="submit" block [disabled]="VerifyCodeForm.invalid"><span>Verify</span> <i class="fa fa-check"></i></button>
                </div>


            </form>



            <div>


            </div>



        </div>

    </div>

</ion-content>
