<ion-content>
    <ion-list>
        <button ion-item (click)="openWebpage('http://www.sanyufm.com/')">Visit Our Website</button>
        <button ion-item (click)="openPage()">Contact us</button>
    </ion-list>
</ion-content>